@charset "utf-8";


/*메인비쥬얼*/
.contents .main {width: 100%; height: 215px; background: url(http://img.ocean2you.co.kr/karaoke/m/mv_01.jpg) no-repeat center top / cover;}
.contents .main .mainTxt {font-size: 14px; color: #fff; margin-top: 46px; padding-left: 1%;}
.contents .main .mainTxt .p-2 {font-size: 32px; font-weight: 700; margin-top: 8px; letter-spacing: 0px;}
.contents .main .mainTxt .p-3 {margin-top: 10px;}


/*공통스타일*/
.contents .cmPadding {padding: 26px 0;}
.contents .cmH2 {text-align: center;}
.contents .cmH2:after {position: relative; content: ""; display: inline-block; height: 2px; width: 16px; background: #d09e74;}
.contents .cmH2 span {font-size: 20px; font-weight: 700; display: block; margin-top: 0px; line-height: 1; margin-bottom: -5px;}
.contents .cmH2 img {width: 65px;}

/*노래방 소개*/
.contents .about {}
.contents .about .area-1 .p-1 {font-size: 12px; text-align: center; line-height: 1.5; margin-top: 15px; letter-spacing: -1px;}
.contents .about .area-1 .list-room {position: relative; margin-top: 15px;}
.contents .about .area-1 .list-room  > li {float: left; margin-left: 4%; width: 44%;}
/*.contents .about .area-1 .list-room  > li:nth-child(2n-1) {margin-left: 0;}*/
.contents .about .area-1 .list-room  > li:nth-child(2) ~ li {margin-top: 4%;}
.contents .about .area-1 .list-room  > li img {width: 100%;}
.contents .about .area-2 {background: #fff3ea;}
.contents .about .area-2 .list {}
.contents .about .area-2 .list > li {text-align: center;}
.contents .about .area-2 .list > li h3 {font-size: 13px; font-weight: 700; margin-top: 15px;}
.contents .about .area-2 .list > li:first-child h3 {margin-top: 0;}
.contents .about .area-2 .list > li h3 .num {display: block; font-size: 16px; margin-bottom: 2px;}
.contents .about .area-2 .list > li .txt {font-size: 12px; margin-top: 6px; line-height: 1.5; word-break: keep-all;}

/*이용안내*/
.contents .use {height: 488.5px; background: url(http://img.ocean2you.co.kr/karaoke/m/bg_use.jpg) no-repeat center / cover;}
.contents .use .p-1 {font-size: 11.5px; text-align: center; margin-top: 20px; letter-spacing: -1px;}
.contents .use .price em,
.contents .use .p-1 em {display: block; font-size: 14px; font-weight: 700; margin-bottom: 10px;}
.contents .use .price {margin-top: 15px;}
.contents .use .price em {text-align: center;}
.contents .use .price .item {position: relative; font-size: 12px; padding-left: 84px; margin: 0 auto; box-sizing: border-box; margin-top: 15px; width: 300px;}
/*.contents .use .price .item-2 {margin-top: 50px;}*/
.contents .use .price .item .type {display: inline-block; position: absolute; left: 0; top: -4px; width: 64px; border: 1px solid  #d09e74; border-radius: 3px; text-align: center; padding: 3px 0; background: #fff;}
.contents .use .price .item .row {display: block; margin-top: 5px; letter-spacing: -0.9px;}
.contents .use .price .item .type + .row,
.contents .use .price .item .row:first-child {margin-top: 0;}
.contents .use .price .item .s-pf,
.contents .use .price .pf {color: #737373; font-size: 11.7px; letter-spacing: -1.5px; white-space: nowrap;}
.contents .use .price .item .row .s-prc {float: right;}
.contents .use .price .pf {font-size: 11.5px; line-height: 1.5; margin-top: 10px; letter-spacing: -0.7px; word-break: keep-all;}
.contents .use .price .pf .dot {position: relative; padding-left: 8px; white-space: normal;}
.contents .use .price .pf .dot .s-dot {position: absolute; left: 0; top: 2px;}

/*오시는길*/
.contents .waycome {}
.contents .waycome .area {text-align: center; margin-top: 20px;}
.contents .waycome .area .p-2,
.contents .waycome .area .mt {margin-top: 12px; display: block;}
.contents .waycome .area .p-1 {font-size: 13px; font-weight: 700;}
.contents .waycome .area .p-2 {font-size: 12px; line-height: 1.5;}
.contents .waycome .area .p-2 > .f-bd {font-size: 12px; display: block;}
.contents .waycome .area .map {margin-top: 30px;}
.contents .waycome .area .map .link {display: block; position: absolute; right: 5px; bottom: 5px; width: 40px;}